psycopg2==2.7.3.1
SQLAlchemy==1.2.10
GeoAlchemy2==0.4.0
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
redis==2.10.6
Flask-Session==0.3.1
flask-bcrypt==0.7.1
voluptuous==0.10.5
pytz==2017.2
boto3==1.4.7
requests==2.20.0
python-crontab==2.2.5
simplejson==3.11.1
raven==6.3.0
blinker==1.4
Shapely==1.6.2
ujson>=1.35
pymemcache>=1.4.4
newrelic==3.2.0.91
JSON-log-formatter==0.2.0
Flask-API==1.0
sqlacodegen==2.0.0
json_log_formatter==0.2.0
gevent==1.2.2
gunicorn==19.7.1

